<div class="d-flex justify-content-between">
  <h1>Restaurants</h1>
  <%= link_to '✚', new_restaurant_path %>
</div>
<% @restaurants.each do |restaurant| %>
  <h2>
    <%= link_to restaurant.name.capitalize, restaurant_path(restaurant) %>
  </h2>
  <li>
    <%= restaurant.address %>
    <%= restaurant.phone_number %>
    <%= restaurant.category %>
  </li>
<% end %>
