<h1 class="">
  <%= @restaurant.name.capitalize %>
</h1>
<p><i class="fas fa-map-marker-alt text-secondary"></i> <%= @restaurant.address %></p>
<p><i class="fas fa-phone text-secondary"></i> <%= @restaurant.phone_number %></p>
<p><i class="fas fa-utensils text-secondary"></i> <%= @restaurant.category %></p>

<div>
  <h2>Add Review</h2>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>

<% @restaurant.reviews.each do |review| %>
  <div class="btn mt-3 w-25 p-3">
    <p><%= '⭐️' * review.rating %></p>
    <p><%= review.content %></p>
  </div>
<% end %>



