<h1>
  <%= @restaurant.name.capitalize %>
</h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<div>
</div class="">
  <% @restaurant.reviews.each do |review| %>
  <p><%= review.rating %></p>
  <p><%= review.content %></p>
<% end %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Back to restaurants', restaurants_path %>
